.Form{
    background: linear-gradient(to right ,#001845, #023e8a,#001845);
    min-height: 100vh;
    padding: 20px;
    color: aliceblue;
}
.circle{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 0 auto;
}
.circletitle{
    font-size: 13px;
    margin-top: 8px;
}
.circlesubtitle{
    font-size: 11px;

}
.step2card{
    font-size: 40px;
    color: green;
}
#continue{
    /* background: linear-gradient(to right ,#0edf1f, #0202ba); */
    background: linear-gradient(to right ,#00c853, #2962ff);

}