/* *{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navbar img{
  margin: 0%;
  padding: 0%;
  width: 50px;
}

#navbar{
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar{
  background-color: #057926;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #03c59b;
  padding: 0 1rem;
  box-sizing: border-box;
  
  
 
}
.navbar h2{
  font-style: italic;
  font-weight: bold;
  margin-left: 5px;
}
.navbar a:hover {
  background-color: #0b0101;
  color: white;
  
}
.navbar a{
  text-decoration: none;
  color: black;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); 
  z-index: 1;
}

.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  font-style: oblique;
  z-index: 1; 
}
.carousel-item img{ 
      width: 1300px;
      height: 790px 
}

.btn-animate:hover {
    transform: scale(0.8);
    background-color: #0b5011; 
    color: rgb(255, 255, 255);
    transition:  0.3s;
}
input{
  padding: 10px;
}
.search input{
  align-items: end;
  
}
.navbar{
  position: sticky;
  margin: 0%;
  padding: 0%;
}
.c2{
  transition: 0.4s;
  
}
.c2.dark{
  background: #222;
}
.navbar img{
  width: 50px;

}
.navbar{
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 15px 7%;
}
.logo{
  width: 160px;
  cursor: pointer;
}
ul{
  flex: 1;
  list-style: none;
  text-align: center;
}
ul li{
  display: inline-block;
  margin: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
.toggle_icon{
  width: 50px;
  cursor: pointer;
  margin-left: 40px;
}

.search{
  display: flex;
  align-items: center;
  background: #000000;
  padding: 10PX 20PX;
  border-radius: 50PX;
}
.search input{
  padding: 6PX;
  background: transparent;
  border: 0;
  outline: 0;
  color: #ffffff;
  font-size: 18PX;
  max-width: 200PX;

}
.search button{
  background: transparent;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 18PX;
  max-width: 200PX;
  cursor: pointer;
}
.search input::placeholder{
  color: #ffffff;
}
.searchbtn{
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 10PX 20PX;
  width: 300px;
  border-radius: 5PX;
}
.searchbtn input{
  padding: 6PX;
  background: black;
  border: 0;
  outline: 0;
  color: #ffffff;
  font-size: 18PX;
  max-width: 200PX;

}
.searchbtn button{
  background: transparent;
  border: 0;
  outline: 0;
  color: #000000;
  font-size: 18PX;
  max-width: 200PX;
  cursor: pointer;
}
.searchbtn input::placeholder{
  color: #ffffff;
}
 */

.navbar img{
  margin: 0%;
  padding: 0%;
  width: 500px;
}



.navbar h2{
  font-style: italic;
  font-weight: bold;
  margin-left: 5px;
}

.navbar a{
  text-decoration: none;
  color: black;
}

#c2{
  transition: 0.4s;
  
}
#c2.dark{
  background: #000000;
}

.navbar img{
  width: 50px;

}
 .navbar{
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 15px 7%;
}
#navbar{
  position: sticky;
  top: 0;
  z-index: 1000;
}
 .logo{
  width: 160px;
  cursor: pointer;
}
ul{
  flex: 1;
  list-style: none;
  text-align: center;
}
ul li{
  display: inline-block;
  margin: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
 .search{
  display: flex;
  align-items: center;
  background: #000000;
  padding: 10PX 20PX;
  border-radius: 40PX;
  
  
}
.search input{
  padding: 6PX;
  background: transparent;
  border: 0;
  outline: 0;
  color: #ffffff;
  font-size: 18PX;
  max-width: 200PX;

}
.search button{
  background: transparent;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 18PX;
  max-width: 200PX;
  cursor: pointer;
}
.search input::placeholder{
  color: #ffffff;
}
.searchbtn{
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 10PX 20PX;
  width: 300px;
  border-radius: 5PX;
}
.searchbtn input{
  padding: 6PX;
  background: black;
  border: 0;
  outline: 0;
  color: #ffffff;
  font-size: 18PX;
  max-width: 200PX;

}
.searchbtn button{
  background: transparent;
  border: 0;
  outline: 0;
  color: #000000;
  font-size: 18PX;
  max-width: 200PX;
  cursor: pointer;
}
.searchbtn input::placeholder{
  color: #ffffff;
}
.toggle_icon{
  width: 50px;
  cursor: pointer;
  margin-left: 40px;
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); 
  z-index: 1;
}

.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  font-style: oblique;
  z-index: 1; 
}
.carousel-item img{ 
      width: 1300px;
      height: 790px 
}  


